@charset "utf-8";
/* PRIMARY */
.tmp-kity header {
	background-color:#000;}
	
 {
	color:#000;}
	
 {
	border-color:#000;}	


/* ACCENT */ 
.tmp-kity form button,  
.tmp-kity .btn {
	background-color:#D8E262;}

 {
	color:#D8E262;}	
	
 {
	border-color:#D8E262;}	
	
	


	